  <div class= "wrapper navbar-left">
    <div class="sidebar">
      <div class="sidebar-header">
        <h3>Dash</h3><h3 class="header-end">Stack</h3>
      </div>
      <ul class="list-unstyled">
        <li>
          <%= link_to  root_path, class: "text-decoration-none" do %>
            <i class="bi bi-house-door-fill"></i> Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to  products_path, class: "text-decoration-none" do %>
            <i class="bi bi-grid-fill"></i> Products
          <% end %>
        </li>
        <li>
          <%= link_to favorites_products_path, class: "text-decoration-none" do %>
            <i class="bi bi-heart-fill"></i> Favorites
          <% end %>
        </li>
        <li><a href="#"><i class="bi bi-chat-right-dots"></i>Inbox</a></li>
        <li>
          <%= link_to order_lists_path, class: "text-decoration-none" do %>
            <i class="bi bi-list-check"></i> Orders
          <% end %>
        </li>
        <li>
          <%= link_to  product_stocks_path, class: "text-decoration-none" do %>
            <i class="bi bi-list-task"></i>Product Stock
          <% end %>
        </li>
        <li class="sidebar-header-2">PAGES</li>
        <li>
          <%= link_to  pricings_path, class: "text-decoration-none" do %>
            <i class="bi bi-currency-dollar"></i> Pricing
          <% end %>
        </li>
        <li>
          <%= link_to  calenders_path, class: "text-decoration-none" do %>
            <i class="bi bi-calendar2-week"></i>Calender
          <% end %>
        </li>
        <li>
          <%= link_to  to_dos_path, class: "text-decoration-none" do %>
            <i class="bi bi-journal"></i>To-Do
          <% end %>
        </li>
        <li>
          <%= link_to  contacts_path, class: "text-decoration-none" do %>
            <i class="bi bi-people-fill"></i>Contact
          <% end %>
        </li>
        <li>
          <%= link_to  invoices_path, class: "text-decoration-none" do %>
            <i class="bi bi-cash-stack"></i>Invoice
          <% end %>
        </li>
        <li><a href="#"><i class="bi bi-bar-chart"></i>Ui Elements</a></li>
        <li>
          <%= link_to  teams_path, class: "text-decoration-none" do %>
            <i class="bi bi-person"></i>Team
          <% end %>
        </li>
        <li><a href="#"><i class="bi bi-table"></i>Table</a></li>
        <li>
        </li>
        <li><a href="#"><i class="bi bi-gear"></i>Settings</a></li>
        <li>
          <%= button_to destroy_admin_session_path, method: :delete, class: "logout-btn" do %>
            <i class="bi bi-power"></i> Logout
          <% end %>
        </li>

      </ul>
  </div>